
.box {
  border: 1px solid rgb(240, 6, 6);
  margin: 10px;
  padding: auto;
  width: auto; 
  box-sizing: border-box;
  border-radius: 5%;
}

h1 {
  text-align: center;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}